# Load a pandas.DataFrame

## 1. Read data using pandas

In [1]:
import pandas as pd
import tensorflow as tf

print("The version of TensorFlow: {}".format(tf.__version__))

The version of TensorFlow: 2.4.1

In [2]:
# Download the csv file containing the heart dataset

csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/download.tensorflow.org/data/heart.csv')

Downloading data from https://storage.googleapis.com/download.tensorflow.org/data/heart.csv
16384/13273 [=====================================] - 0s 22us/step

In [3]:
# Read the csv file using pandas.

df = pd.read_csv(csv_file)

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [6]:
# Convert thal column which is an object in the dataframe to a discrete numerical value.

df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [7]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

## 2. Load data using tf.data.Dataset

In [8]:
target = df.pop('target')

In [9]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [10]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [11]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=int8, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4], dtype=int8)>

In [12]:
train_dataset = dataset.shuffle(len(df)).batch(1)

## 3. Create and train a model

In [13]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [14]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
303/303 [==============================] - 2s 2ms/step - loss: 7.9786 - accuracy: 0.7387
Epoch 2/15
303/303 [==============================] - 1s 3ms/step - loss: 1.0485 - accuracy: 0.7404
Epoch 3/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6584 - accuracy: 0.7393
Epoch 4/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6543 - accuracy: 0.7188
Epoch 5/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6510 - accuracy: 0.7359
Epoch 6/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4402 - accuracy: 0.7974
Epoch 7/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4932 - accuracy: 0.7804
Epoch 8/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4521 - accuracy: 0.7739
Epoch 9/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4712 - accuracy: 0.7876
Epoch 10/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4946 - accuracy: 0.7904
Epoch 11/15
303/303 [==============================] - 1s 3ms/step - loss: 0.4432 - accuracy: 0.8128
Epoch 12/15
303/303 [==============================] - 1s 3ms/step - loss: 0.4307 - accuracy: 0.7924
Epoch 13/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4789 - accuracy: 0.7595
Epoch 14/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5839 - accuracy: 0.7066
Epoch 15/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4333 - accuracy: 0.8009

## 4. Alternative to feature columns

In [15]:
inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in df.keys()}
x = tf.stack(list(inputs.values()), axis=-1)

x = tf.keras.layers.Dense(10, activation='relu')(x)
output = tf.keras.layers.Dense(1)(x)

model_func = tf.keras.Model(inputs=inputs, outputs=output)

model_func.compile(optimizer='adam',
                   loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                   metrics=['accuracy'])

In [16]:
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)

In [17]:
for dict_slice in dict_slices.take(1):
  print (dict_slice)

({'age': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([63, 67, 67, 37, 41, 56, 62, 57, 63, 53, 57, 56, 56, 44, 52, 57])>, 'sex': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1])>, 'cp': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 4, 4, 3, 2, 2, 4, 4, 4, 4, 4, 2, 3, 2, 3, 3])>, 'trestbps': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([145, 160, 120, 130, 130, 120, 140, 120, 130, 140, 140, 140, 130,
       120, 172, 150])>, 'chol': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([233, 286, 229, 250, 204, 236, 268, 354, 254, 203, 192, 294, 256,
       263, 199, 168])>, 'fbs': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0])>, 'restecg': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0])>, 'thalach': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([150, 108, 129, 187, 172, 178, 160, 163, 147, 155, 148, 153, 142,
       173, 162, 174])>, 'exang': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])>, 'oldpeak': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2.3, 1.5, 2.6, 3.5, 1.4, 0.8, 3.6, 0.6, 1.4, 3.1, 0.4, 1.3, 0.6,
       0. , 0.5, 1.6], dtype=float32)>, 'slope': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([3, 2, 2, 3, 1, 1, 3, 1, 2, 3, 2, 2, 2, 1, 1, 1])>, 'ca': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 3, 2, 0, 0, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0])>, 'thal': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3])>}, <tf.Tensor: shape=(16,), dtype=int64, numpy=array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)>)

In [18]:
model_func.fit(dict_slices, epochs=15)

Epoch 1/15
19/19 [==============================] - 0s 4ms/step - loss: 2.6228 - accuracy: 0.7290
Epoch 2/15
19/19 [==============================] - 0s 3ms/step - loss: 2.1797 - accuracy: 0.7459
Epoch 3/15
19/19 [==============================] - 0s 4ms/step - loss: 1.8470 - accuracy: 0.7377
Epoch 4/15
19/19 [==============================] - 0s 4ms/step - loss: 1.6926 - accuracy: 0.7489
Epoch 5/15
19/19 [==============================] - 0s 4ms/step - loss: 1.5276 - accuracy: 0.7575
Epoch 6/15
19/19 [==============================] - 0s 4ms/step - loss: 1.4431 - accuracy: 0.7430
Epoch 7/15
19/19 [==============================] - 0s 4ms/step - loss: 1.4298 - accuracy: 0.7184
Epoch 8/15
19/19 [==============================] - 0s 4ms/step - loss: 1.3879 - accuracy: 0.7211
Epoch 9/15
19/19 [==============================] - 0s 4ms/step - loss: 1.3138 - accuracy: 0.7339
Epoch 10/15
19/19 [==============================] - 0s 3ms/step - loss: 1.2411 - accuracy: 0.7339
Epoch 11/15
19/19 [==============================] - 0s 3ms/step - loss: 1.1851 - accuracy: 0.7359
Epoch 12/15
19/19 [==============================] - 0s 4ms/step - loss: 1.1291 - accuracy: 0.7424
Epoch 13/15
19/19 [==============================] - 0s 3ms/step - loss: 1.0811 - accuracy: 0.7433
Epoch 14/15
19/19 [==============================] - 0s 3ms/step - loss: 1.0344 - accuracy: 0.7509
Epoch 15/15
19/19 [==============================] - 0s 4ms/step - loss: 0.9840 - accuracy: 0.7537

# reference

### https://tensorflow.google.cn/tutorials/load_data/pandas_dataframe